@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html{
    scroll-behavior: smooth;
}
h1{
    font-family: 'Kiwi Maru', serif;
}
p, a{
    font-family: 'Open Sans', sans-serif;
}
#overlay {
    display: none;
}
#logo{
    font-family: 'Kiwi Maru', serif;
}
#sidebar{
    transform: translateX(-240px);
}
#header{
    background-image: url("./img/orange-flower.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}
#order-section-bg-img{
    background-image: url('./img/order-bg.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
}
#intro-sen-img{
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
#about-me-box{
    transform: scale(0,0);
}
#florist-card-container:hover #about-me-box{
    transform: scale(1, 1);
}
#contact-icons{
    transform: translateY(50px);
}
.contact-icon:hover{
    transform: rotate(360deg);
}
#florist-card-container:hover #contact-icons{
    transform: translateY(-10px);
}
#container-cover{
    opacity: 0.5;
}
@media screen and (max-width: 1030px) {
    #about-me-box{
        transform: scale(1,1);
    }
    #contact-icons{
        transform: translateY(-10px);
    }
}